{{> header titulo="Página de inicio"}}
    <p>
        {{descripcion}}
    </p>
    <a href="/profesionales" class="btn btn-info">Ver profesionales</a>
    <br>
    <a href="/profesionales/habilitados" class="badge bg-success text-white">Ver profesionales habilitados</a>
{{> footer year=2021}}